p{
    color: skyblue;
    background-color:darkblue;
    padding: 20px;
    border: 20px solid khaki;
}
h1{
    background-color: lawngreen;
    text-align: center;
    font-size: 90px;
}
img{
    border:10px solid darkorange;
    border-radius: 90%;
}